.header-documentos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-documentos h2{
    margin: 0;
    font-size: 20px;
    color: #333;
}

.search-input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background-color: #eee;
  margin-bottom: 20px;
  font-size: 14px;
}

.documentos-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.documentos-table th,
.documentos-table td {
  padding: 12px 16px;
  text-align: left;
  font-size: 14px;
}

.documentos-table thead {
  background-color: #f9fafb;
}

.documentos-table tbody tr {
  border-top: 1px solid #ddd;
}

.doc-name {
  display: flex;
  align-items: center;
  gap: 6px;
}

.doc-name img {
  width: 20px;
  height: 20px;
}

.status-pendente {
  color: red;
  font-weight: 500;
}

.status-enviado {
  color: green;
  font-weight: 500;
}

.btn-detalhes {
  background: #c7d2fe;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.btn-detalhes:hover {
  background: #a5b4fc;
}
